html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    font-family: 'Mulish', sans-serif;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: auto 300px;
    gap: 2rem;
}

aside img {
    width: 100%;
}

aside blockquote {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    border-top: 1px solid black;
}
